.title {
    display: flex;
    justify-content: space-between;
}

.title button {
    padding: 1vh;
    margin-right: 2vh;
    margin-top: 2vh;
    color: white;
    font-size: large;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 1.5vh;
    background-color: rgb(199, 199, 199);
}

.tweet-box {
    border-radius: 12px;
    padding: 1.4vh 2vw;
    margin: 1.5vh 0vw;
    border: 1px solid lightgray;
}

.tweet-box:hover {
    background-color: #f7f9f9;
}

.rt {
    display: flex;
    justify-content: space-between;
}

.date-rt {
    color: darkgray;
}

.date-no-rt {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: -3vh;
    color: darkgray;
}

.tweets a {
    text-decoration: none;
    color: black;
}

.user {
    display: flex;
}

.user p {
    margin-right: 10px;
}

.user-image {
    border-radius: 50%;
    height: 65px;
    margin-right: 15px;
    margin-top: 15px;
}

.user-info {
}

.name-username {
    display: flex;
    margin-top: 10px;
    margin-bottom: -20px;
}

.user-name {
    font-weight: bold;
}

.user-username {
    color: darkgray;
}

.user-metrics {
    display: flex;
    text-align: end;
    margin-top: -10px;
}

.tweet-text {
    font-size: larger;
    color: rgb(70, 70, 70);
}

.table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px;
}

.table tr {
    text-align: left;
}

.table td {
    padding: 20px 20px 20px 0px;
}

.below-button {
    display: flex;
}

.below-button img {
    height: 80px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.additional-info {
    font-size: larger;
    line-height: 200%;
    width: 100%;
}

/* Spinner */
.mul13 {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 45%;
    margin-top: 20%;
}

.m13s {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.75;
}

.m13c1 {
    background-color: #fea500;
    -webkit-animation: m13s1anim 1.5s infinite linear;
    animation: m13s1anim 1.5s infinite linear;
}

.m13c2 {
    background-color: #fe5d00;
    -webkit-animation: m13s2anim 1.5s infinite linear;
    animation: m13s2anim 1.5s infinite linear;
}

@-webkit-keyframes m13s1anim {
    0%,
    100% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    25% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.25;
    }
    50% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    75% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.8;
    }
}

@keyframes m13s1anim {
    0%,
    100% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    25% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.25;
    }
    50% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    75% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.8;
    }
}

@-webkit-keyframes m13s2anim {
    0%,
    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    75% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.25;
    }
}

@keyframes m13s2anim {
    0%,
    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    25% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    75% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 0.25;
    }
}
/* End of Spinner */

@media only screen and (max-width: 600px) {
    .name-username {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .view-selector {
        margin-top: 2vh;
    }

    .table {
        width: 600px;
    }
}
